@import "tailwindcss";

:root {
  --primary-red: #FF3374;
  --primary-black-light: #222122;
  --primary-black-dark: #0A0A0A;
  ---primary-gray-light: #F3F2F2;
  --primary-gray-dark: #E7E4E5;
  --primary-blue: #33FFBE;

  scroll-behavior: smooth;
}

.body::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-red-main: var(--primary-red);
  --color-black-light: var(--primary-black-light);
  --color-black-dark: var(--primary-black-dark);
  --color-grey-light: var(--primary-gray-light);
  --color-grey-dark: var(--primary-gray-dark);
  --color-blue-main: var(--primary-blue);
}