body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.banner::before { 
    content: "";
}

.titre_poste {
    font-size: clamp(10px, 3vw, 100px);
}

.page_number-1::before {
    content: "01";
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 48px;
    font-style: italic;
}

.title_name {
    font-size: clamp(50px, 7vw, 100px);
}

.animation_slide_to_right {
    animation-duration: 1s;
    animation-name: slidein;
}

.animation_font {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: left-to-right;
    animation-direction: alternate;
}

.animation_exitation:hover {
    animation-duration: 1s;
    animation-name: exitation;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    transition: 1s;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translate(-50px);
      }
    
      to {
         opacity: 100;
      }
  }

@keyframes left-to-right {
  from {
      rotate: -1deg;
    }
  
    to {
       rotate: 1deg;
    }
}

/* @keyframes exitation {
  from {
      rotate: -1deg;
    }
  
    to {
       rotate: 1deg;
    }
} */

@keyframes exitation {
    0% {
      }
    
      50% {
        scale: 80%;
        rotate: 360deg;
      }

      100% {
        scale: 120%;
     }
  }
